<%# simple erb home page (doesnt rly need anything on it rn) %>

<div class="home-container">
  <h1>Welcome to the Home Page</h1>
  <p>This is a simple home page.</p>
  <p><%= link_to 'Login', login_path, class: 'btn btn-primary' %></p>
</div>
